h1{
    text-align: center;
}
hr {
    width: 100%;
}
.app-container{
    border: 2px solid black;
    width: 85%;
    margin: 0 auto;
}
.faq-item{
    cursor: pointer;
    padding: 0 20px;
}
.accordian-content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    padding: 0 0px;
    width: 85%;
    margin-top: -15px;
}
.arrow{
    /* display: block; */
    width: 12px;
    height: 8px;
    position: relative;
    float: right;
    margin-top: -27px;
    /* position: absolute;
    margin-top: -30px;
    margin-left: 70%; */
}
.content-active{
    max-height: 100px;
    transition: max-height 0.5s;
}
.arrow-active{
    transform: scaleY(-1);
}